@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    color:white;
}
body{
    border:5px solid red;
    background-color: rgb(0,0,0); 
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

#contenedor-izquierdo{
    border: 5px solid green;
    width: 50%;
    display:flex;
    flex-direction: column;
}

#contenedor-derecho{
    border: 5px solid blue;
    width: 50%;
    display:flex;
    flex-direction: column;
}


#titulo, #entradas, #guarniciones, #postres,
#imagen1, #principales, #imagen2, #bebidas{
    border: 2px solid white;
}

#titulo{
    border:2px solid white;
    margin:30px;
}

h1{
    text-align: center;
}

h1 span{
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
}


#entradas{
    display: flex;
    flex-direction: column;
   
}

#Guarniciones{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#Postre{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#carne {
    margin-left: 150px;
    width: 400px;
    
    }
    #listabebidas{
            margin-left: 10px;
    }